{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      {{#if image}}<img id="post-image" src={{image}} alt="{{{title}}}">{{/if}}
      <h1 id="post-title">Colophon</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

{{/post}}
